@import url('https://cdn.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css');

.header {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  height: 129px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 26px;
  font-weight: bold;
}

.date {
  font-weight: 400;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.tasks {
  margin-top: 126px;
  background-color: #F3F5FA;
  height: 100vh;
}